<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Management | Streamflix</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="static/css/dashboard.css" rel="stylesheet" />
  </script>
</head>


<body>
  <div class="header">
    <div class="logo">
      <img src="/static/img/favicon.ico" alt="LOGO" width="35px" height="25px">
      <span id="name">Praxis</span>
    </div>
    <a href="#" class="nav-trigger"><span></span></a>
  </div>
  <div class="side-nav">
    <div class="logo">
      <img id="logo_img" src="/static/img/logo.png" alt="LOGO">
    </div>
    {% include 'navbar.html' %}
  </div>


  <div class="main-content">
    <div class="title">
      <i class="fa fa-users" aria-hidden="true"></i>
      User Management
    </div>
    <div class="main">

      <div class="widget p-10">
        <button type='button' id='btnAddUser' class='btn btn-success btn-lg' data-toggle="modal" data-target="#addUserModal">Add User</button>
        <span id="success_msg">{{ success_msg|e }}</span>
        <span id="error_msg">{{ error_msg|e }}</span>

        <table id="tbl-users" class="display cell-border" cellspacing="0" style="width:100%;">
          <thead>
            <tr>
              <th>Username</th>
              <th>Password</th>
              <th>Server</th>
              <th>Creation</th>
              <th>Expiration</th>
              <th>Last Activity</th>
              <th>Notes</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
      </div>


    </div>
  </div>

  {% include 'scripts.html' %}
  <link href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
  <script src="static/js/user-management.js"></script>
  
</body>

</html>