<!DOCTYPE html>
<html lang="en">

<head>
  <title>Server Management | Streamflix</title>
  {% include 'head.html' %}
</head>

<body class="sb-nav-fixed">
  {% include 'topbar.html' %}

  <div id="layoutSidenav">
    {% include 'navbar.html' %}

    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">Servers</h1>
          <div class="row">
            <div class="col-xl-12">

              <div class="pb-3">
                <button type='button' id='btnAddServer' class='btn btn-success' data-bs-toggle="modal"
                  data-bs-target="#addServerModal">Add Server</button>
              </div>
              <span id="error_msg">{{ error_message|e }}</span>

              <table id="tbl-servers" class="display cell-border" cellspacing="0" style="width:100%;">
                <thead>
                  <tr>
                    <th>URL</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Creation</th>
                    <th>Notes</th>
                    <th>Actions</th>
                  </tr>
                </thead>
              </table>

            </div>
          </div>
        </div>
      </main>

      <!-- ADD SERVER MODAL -->
      <div class="modal fade" id="addServerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content form-floating">
            <div class="modal-header">
              <h5 class="modal-title" id="addServerModalLabel">Add Server</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/server/add" method="POST">
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputServer" type="url" name="server"
                    placeholder="Enter Server" value="" autocomplete="off" required />
                  <label for="inputServer">
                    <h6><i class="fa-solid fa-server"></i> Server URL</h6>
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputUsername" minlength="2" maxlength="30" type="text"
                    name="username" placeholder="Enter Username" value="" autocomplete="off" required />
                  <label for="inputUsername">
                    <h6><i class="fa-solid fa-user"></i> Username</h6>
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputPassword" minlength="6" maxlength="100" type="text"
                    name="password" placeholder="Enter Password" value="" autocomplete="off" required />
                  <label for="inputPassword">
                    <h6><i class="fa-solid fa-key"></i> Password</h6>
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="inputNotes" name="notes" placeholder="Enter Notes" value=""
                    autocomplete="off" required></textarea>
                  <label for="inputNotes">
                    <h6><i class="fa-solid fa-message"></i> Notes</h6>
                  </label>
                </div>
                <input class="form-control csrf-token" value="{{ csrf_token|e }}" name="csrf_token" readonly>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success rounded-pill">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- DELETE SERVER MODAL -->
      <div class="modal fade" id="deleteServerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content form-floating">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteServerModalLabel">Delete Server</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/server/delete" method="POST">
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputDeleteServer" type="url" name="server"
                    placeholder="Enter Server" value="" autocomplete="off" readonly />
                  <label for="inputDeleteServer">
                    <h6><i class="fa-solid fa-server"></i> Server URL</h6>
                  </label>
                </div>
                <input class="form-control csrf-token" type="hidden" value="{{ csrf_token|e }}" name="csrf_token"
                  readonly>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="btnModalDelete" class="btn btn-danger rounded-pill">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>




      <!-- EDIT SERVER MODAL-->
      <div class="modal fade" id="editServerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content form-floating">
            <div class="modal-header">
              <h5 class="modal-title" id="editServerModalLabel">Edit Server</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/server/edit" method="POST">
              <div class="modal-body">
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputEditServer" type="url" name="server"
                    placeholder="Enter Server" value="" autocomplete="off" required />
                  <label for="inputEditServer">
                    <h6><i class="fas fa-server"></i> Server URL</h6>
                  </label>
                  <input class="form-control" id="inputEditOldServer" type="text" name="old_server" value=""
                    autocomplete="off" readonly />
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputEditUsername" type="text" name="username"
                    placeholder="Enter Username" value="" autocomplete="off" minlength="2" maxlength="30" required />
                  <label for="inputEditUsername">
                    <h6><i class="fa-solid fa-user"></i> Username</h6>
                  </label>
                  <input class="form-control" id="inputEditOldUsername" type="text" name="username_old" value=""
                    autocomplete="off" readonly />
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control rounded-pill" id="inputEditPassword" min="6" max="100" type="text"
                    name="password" placeholder="Enter Password" value="" autocomplete="off" required />
                  <label for="inputEditPassword">
                    <h6><i class="fa-solid fa-key"></i> Password</h6>
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="inputEditNotes" name="notes" placeholder="Enter Notes" value=""
                    autocomplete="off" required></textarea>
                  <label for="inputEditNotes">
                    <h6><i class="fa-solid fa-message"></i> Notes</h6>
                  </label>
                </div>
                <input class="form-control csrf-token" value="{{ csrf_token|e }}" name="csrf_token" readonly>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success rounded-pill">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>




      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'scripts.html' %}
  {% include 'datatables.html' %}
  <script src="static/js/servers-management.js" crossorigin="anonymous"></script>
</body>

</html>